<!doctype html>
<html lang="en" class="root">
<head>
    <title>Place</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>.async-hide { opacity: 0 !important} </style>
</head>
<body id="container" class="container">
<main id="content" class="content">
    <noscript>
        <img class="viewport" src="viewport.png" width="100%" height="100%"/>
    </noscript>
</main>
<script async src="main.js"></script>
</body>
</html>
